<div class="page-wrapper">
  <header class="public-header">app header</header>
  <main class="public-main">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
  <footer class="public-footer">app footer</footer>
</div>
